[submodule "vcl/SynEdit"]
	path = vcl/SynEdit
	url = https://github.com/SynEdit/SynEdit.git
[submodule "vcl/DOSCommand"]
	path = vcl/DOSCommand
	url = https://github.com/TurboPack/DOSCommand.git
[submodule "bin/nginx-rtmp-win32"]
	path = bin/nginx-rtmp-win32
	url = https://github.com/illuspas/nginx-rtmp-win32.git
